{% extends 'base.html' %}

{% block body %}

<center>
    <img id="constellation" src="{{ image_url }}"/>
    <div id="empty_constellation"></div>
</center> 
<div id="horoscope">
  <h1> Your Horoscope: </h1>
  <div class="info_block">
    <div class="constellation_header"> Your constellation: </div> 
    <div class="constellation_info"> {{ constellation }} </div>
  </div>
  <div class="info_block">
    <div class="constellation_header"> Right Ascension: </div> 
    <div class="constellation_info">{{ coords[0] }}</div>
  </div>
  <div class="info_block">
    <div class="constellation_header"> Declination: </div> 
    <div class="constellation_info">{{ coords[1] }}</div>
  </div>
  <div class="info_block">
    <div class="constellation_header"> Your Future: </div>
    <div class="constellation_info"> {{ hs }} </div>
  </div>
  <div class="info_block">
    <div class="constellation_header"> Your Lucky Numbers: </div>
    <div class="constellation_info"> {% for i in ln %} <sdivan> {{ i }} </sdivan> {% endfor %} </div> 
  </div>
</div>

{% endblock %}
